<div data-role="view" data-title="IEEE Conferences" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">

    <!-- START_CUSTOM_CODE_home -->
   <br/>
      
    
                <div><label>Change Location: </label><input id="dropdownlist" /></div>
                 <br/>   
            
   <!-- <table id="products">
        <thead>
        </thead>
        <tbody>
        </tbody>
    </table>-->
    
    <ul id="products">
        
    </ul>

    <!-- END_CUSTOM_CODE_home -->
</div>