#kendoUiMobileApp .image-with-text img {
    float: left;
    margin-right: 15px;
}
#kendoUiMobileApp .block {
    display: block;
    margin: 1em;
    padding: 1em;
    text-align: center;
}
#kendoUiMobileApp .button-group,
#kendoUiMobileApp .icon-group {
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 1em;
}
#kendoUiMobileApp .button-group {
    table-layout: fixed;
}
#kendoUiMobileApp .button-group .km-button {
    display: table-cell;
    padding: .6em .8em;
    margin: 1em 0;
}
#kendoUiMobileApp .button-group.button-group-vertical .km-button {
    display: block;
}
#kendoUiMobileApp.km-flat .button-group .km-button.primary {
    color: #fff;
    background-color: #10c4b2;
}
#kendoUiMobileApp.km-ios7 .button-group .km-button.primary {
    color: #fff;
    background-color: #007aff;
}
#kendoUiMobileApp.km-android .button-group .km-button.primary {
    color: #fff;
    background-color: #33b5e5;
}
#kendoUiMobileApp .group-separator {
    border: none;
    background: transparent;
}
#kendoUiMobileApp .group-separator-header {
    margin: 1em 0;
}
#kendoUiMobileApp .app-icon {
    text-align: center;
    margin: 3em 0;
}
#kendoUiMobileApp .view-title {
    text-align: center;
    font-weight: normal;
}
#kendoUiMobileApp .km-drawer-button:after,
#kendoUiMobileApp .km-drawer-button:before {
    content: '\e077';
}
#kendoUiMobileApp.km-flat .km-drawer .km-content {
    background-color: #fcfcfc;
}
#kendoUiMobileApp form .form-content li p {
    margin: 0;
}
#kendoUiMobileApp .icon-group .app-icon,
#kendoUiMobileApp .icon-group .app-details {
    display: table-cell;
    vertical-align: top;
}
#kendoUiMobileApp .icon-group .app-icon {
    margin: 0;
    width: 5em;
    overflow: hidden;
    text-align: left;
}
#kendoUiMobileApp .icon-group .app-icon img {
    display: block;
    max-width: 5em;
    height: auto;
}
#kendoUiMobileApp .icon-group .app-details h2,
#kendoUiMobileApp .icon-group .app-details h4 {
    font-weight: normal;
    margin: 0;
}
#kendoUiMobileApp .icon-group .app-details h4 {
    color: #828282;
    margin-top: 0.5em;
}
#kendoUiMobileApp #navigation-container.km-tabstrip .km-button {
    vertical-align: top;
}
#kendoUiMobileApp #navigation-container.km-tabstrip .km-button .km-text {
    max-width: 100%;
    word-wrap: break-word;
}
#kendoUiMobileApp #navigation-container .active {
    background: #10c4b2;
    color: #fff;
}
#kendoUiMobileApp #navigation-container .active:after {
    color: #fff;
}
#kendoUiMobileApp.km-nova #navigation-container.km-tabstrip .km-button {
    vertical-align: middle;
}
#kendoUiMobileApp.km-nova p {
    margin-left: 1rem;
    margin-right: 1rem;
}
#kendoUiMobileApp.km-nova span.km-switch.km-switc {
    color: #ff4350;
}
#kendoUiMobileApp.km-nova span.km-switch.km-switch-on input[type=checkbox]:checked + span + span {
    border-color: #ff4350;
    background-color: #ff4350;
}
.addborder {
    font-size: large;
    border-bottom: 1px solid;
    border-color: #E2DADA;
    padding-bottom: 25px;
    padding-top: 10px;
}
.lblclass {
    font-weight: bold;
}
#showDetails {
    color: #2C2CF5;
    cursor: pointer;
    font-size: 17px;
}
.heading {
    font-weight: bold;
    font-size: 20px;
    color:#5A5757;
}
#products li:nth-child(even) {
    background: #FFF;
     border-bottom: 1px solid;  
    border-color: #626467;
   
}
#products li:nth-child(odd) {
    background: #ECEBEB;
     border-bottom: 1px solid;  
    border-color: #626467;
        
      
}
.nameClass {
    color: #2C2CF5;
}
#banner{
    background-color:#08DECA;
    height: 50px;
    padding-top: 10px; 
    
}
/* START_CUSTOM_CODE_kendoUiMobileApp */
/* Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes */
/* END_CUSTOM_CODE_kendoUiMobileApp */